

  
  .carousel__image {
    border: 3px solid #ffa70000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .carousel__button {
    position: absolute;
    top: 40%;
  }
  
  .carousel__button-left {
    left: 10px;
  }
  
  .carousel__button-right {
    right: 10px;
  }