.searchbar {
    position: relative;
    display: flex;
    &__figure {
        position: absolute;
        right: 0;
        margin: 2vh;
      }
    &__input{
      width: 40vw;
      margin: 1vh;
      border-radius: 6px;
    }
}